extends layout

block content
    h1.
        Account Settings
    form#formChangeSettings(name="accountsetting",method="post",action="/accountsetting")
        input#inputUserName(type="text", placeholder="#{user.username}", name="username")
        br
        input#inputUserEmail(type="password", placeholder="#{user.password}", name="password")
        br
		input#inputUserEmail(type="text", placeholder="#{user.firstName}", name="firstName")
        br
		input#inputUserEmail(type="text", placeholder="#{user.lastName}", name="lastName")
        br
        button#btnSubmit(type="submit") Save
