extends layout

block content
    h1.
        Account Settings
    form#formChangeSettings(name="changeAccountSettings",method="post",action="/registeruser")
        input#inputUserName(type="text", placeholder="#{user.username}", name="username")
        br
        input#inputUserEmail(type="text", placeholder="#{user.password}", name="password")
        br
        button#btnSubmit(type="submit") Save
    div
        select(name="usertype", form="changeAccountsettings")
            option(value="Contributor") Contributor
            option(value="Viewer") Viewer