extends layoutLoggedIn 

block content
    h1.
        New Comic!
    div
        form#formCreateWebComic(name="createWebComic", method="post", action="/webcomic/submit", enctype='multipart/form-data')
            input#comicTitle(type="text", placeholder="Title",name="title")
            br
            input#description(type="text", placeholder="Description",name="description")
            br
            input#genre(type="text", placeholder="Genre", name="genre")
            br
            br
            | Publish now? 
            input#toPublish(type="checkbox", name="toPublish", value="toPublish")
            br
            br
            input#firstImage(type="file",name="image")
            br
            br
            button#btnSubmit(type="submit") submit



