extends layoutLoggedIn 

block content
    div(id="form")
        h1.
            New Comic!
    div(id="belowform")
        form#formCreateWebComic(name="createWebComic", method="post", action="/webcomic/submit", enctype='multipart/form-data')
            |Title:
            input#comicTitle(type="text", placeholder="Title",name="title", required="", autocomplete="off")
            br
            |Description:
            input#description(type="text", placeholder="Description",name="description", required="", autocomplete="off")
            br
            |Open to Contribution?:
            input#openToContribution(type="checkbox", name="openToContribution")
            br
            |Genre: 
            select(name="genre")
                option(value="Zombies") Zombies
                option(value="Post Apocalyptic") Post Apocalyptic
                option(value="Action/Adventure") Action/Adventure
                option(value="Humor") Humor
                option(value="Superhero") Superhero
            br    
            input#toPublish(type="hidden", name="toPublish", value="false")
            input#firstImage(type="file",name="image", required="")
            br
            br
            //Two submit buttons, which one is pressed is checked in the /submit route and the value of toPublish is set there
            button#btnSubmit(type="submit", name="submit", value="draft") Submit
            button#btnSubmit(type="submit", name="submit", value="publish") Submit and Publish



