extends layoutLoggedIn

block content
  div(id="form")
    h1.
      #{user.username}
  form#formEditProfile(name="profile",method="post",action="/profile/edit", enctype='multipart/form-data')
      textarea#inputAboutme(type="text",name="aboutMe",rows=5, cols=50).form-control
      | #{user.aboutMe}
      br
      input#firstImage(type="file", name="image", required="")
      br
      img(src="#{user.profilePicture}")
      p Change Your Picture 
      br
      button#btnUpdateProfile(type="submit") Save Changes
  form#cancelEdit(type="cancelEdit", method="get", action="/profile")
      button#btnCancelUpdateProfile(type="submit") Cancel Edit