extends layout

block content
    div(id="title")
        h1= title
    form#formForgotPassword(name="recoveraccount",method="post",action="/forgotpassword")
        div(id="forgotPasswordUsername")
            p Please enter your username:
            input#inputUsername(type="text", placeholder="username", name="username", , required="", autocomplete="off")
        div(id="secretQuestion")
            p Please select a security question:
            select(name="securityQuestion")
                    option(value="What is your favorite movie?") "What is your favorite movie?"
                    option(value="What is your mother's maiden name?") "What is your mother's maiden name?"
                    option(value="What was your first pet's name?") "What was your first pet's name?"
        div(id="secretAnswer")
            p Please enter you answer:
            input#inputUsername(type="text", placeholder="Secret Answer", name="answer", , required="", autocomplete="off")
            br
            br
            button#btnSubmit(type="submit") Reset Password
  div(id="signin")
    form#SignIn(name="sign in", method="get", action="signin")
        button#btnSignIn(type="submit") Sign In
  div(id="register")
    form#Register(name="register", method="get", action="register")
        button#btnRegister(type="submit") Register
  div(id="forgotPasswordLink")
    p: #[a(href="/forgotpassword") Forgot password?]