extends layout

block content
	h1.
		Welcome to your Homepage #{user.username}
	div
		form#submitNewWebcomic(name="submitComic", method="get",action="/webcomic")
			button#btnNewWebcomic(type="submit") New Webcomic
		form#accountSettings(name="accountSettings", method="get", action="/accountsettings")
			//input#userName(type="text",value="#{user.username}",name="username")
			button#btnAccountSettings(type="submit") Accountsettings