doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block script
  body
    div(id="background")
    div(id="banner")
        div(id="logout")
            form#logout(name="logout",method="get", action= "/logout")
                button#btnLogout(type="submit") Log Out
        div(id="accountSettings")
            form#accountSettings(name="accountSettings", method="get", action="/accountsettings")
                button#btnAccountSettings(type="submit") Account Settings
        div(id="profile")
            form#profile(type="profile", method="get", action="/profile")
                button#btnProfile(type="submit") Public Profile
        div(id="home")        
            form#home(name="home",method="get", action= "/home")
                button#btnHome(type="submit") Home
        div(class="search-container")
            Form#searchForm(class="search-form", method="get", action="/SearchBrowseResults", enctype='multipart/form-data')
                input(autocomplete="off", type="text", class="search", name="seachField", placeholder="Search" value="")
                select(class="search-selector", name="searchType")
                    option(value="all", selected) Search By
                    option(value="title") Title
                    option(value="author") Author
                    option(value="description") Description
                    option(value="genre") Genre 
                    option(value="toPublish") Published                   
    block content
