extends layoutLoggedIn

block content
  h1.
    #{user.username}
  form#formProfile(name="profile",method="post",action="/profile")
  p #{user.firstName} #{user.lastName}
  br
  p #{user.accountType}
  
  br
  div
    img(src="profilepicture.jpg")
  br 
  div
    label about me:
    br
    input.field.left(type="text", value="this will be the user's about me", readonly="readonly")
  br
  form#Edit(type="edit", method="get", action="/profile/edit")
    button#btnEdit(type="submit") edit