extends layout

block content
    h1= title

    form#formRegisterUser(name="register",method="post",action="/register")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserPassword(type="text", placeholder="password", name="password")
        br
        input#inputUserName(type="text", placeholder="First Name", name="firstName")
        input#inputUserPassword(type="text", placeholder="Last Name", name="lastname")
        br
        select(name="accountType")
            option(value="Contributor") Contributor
            option(value="Viewer") Viewer

        br
        button#btnSubmit(type="submit") submit