extends layout

block content
    h1= title
    form#register(name="register",method="post",action="/register")
        input#inputUserName(type="text", placeholder="username", name="username")
        br
        input#inputUserPassword(type="text", placeholder="password", name="password")
        br
        button#btnSubmit(type="submit") submit