extends layout

block content
    div(id="title")
        h1= title
    br
    div(id="form")
        form#formRegisterUser(name="register",method="post",action="/register")
            input#inputUserName(type="text", placeholder="username", name="username", required="", autocomplete="off")
            input#inputUserPassword(type="password", placeholder="password", name="password", required="")
            br
            br
            input#inputFirstName(type="text", placeholder="First Name", name="firstName", required="", autocomplete="off")
            input#inputLastName(type="text", placeholder="Last Name", name="lastName", required="", autocomplete="off")
            br
            br
            p Please select a user type:
            select(name="accountType")
                option(value="contributor") Contributor
                option(value="viewer") Viewer
            br
            br
            button#btnSubmit(type="submit") Submit
