extends layout

block content
    h1= title

    form#formRegisterUser(name="register",method="post",action="/register")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserPassword(type="text", placeholder="password", name="password")
        br
        input#inputUserName(type="text", placeholder="First Name", name="firstName")
        input#inputUserPassword(type="text", placeholder="Last Name", name="lastname")
        br
<<<<<<< HEAD
        //input#inputUserName(type="text", placeholder="Account type", name="accountType")
        select(name="accountType")
            option(value="Contributor") Contributor
            option(value="Viewer") Viewer
=======
        input#inputUserName(type="text", placeholder="Account type", name="accountType")
>>>>>>> branch 'tyler' of https://github.com/UBC-CS310-2015w2/MATA.git

        br
        button#btnSubmit(type="submit") submit