extends layout

block content
    h1= title
    form#formRegisterUser(name="register",method="post",action="/register")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserPassword(type="password", placeholder="password", name="password")
        br
        br
        input#inputUserName(type="text", placeholder="First Name", name="firstName")
        input#inputUserPassword(type="text", placeholder="Last Name", name="lastName")
        br
        p select a user type:
        select(name="accountType", form="accountType")
            option(value="contributor", name="contributor") Contributor
            option(value="viewer", name="viewer") Viewer
        br
        br
        button#btnSubmit(type="submit") submit