extends layout

block content
    div(id="title")
        h1= title
    form#formResetPasswordForm(name="resetpassword",method="post",action="/resetpassword")
        div(id="resetPassword")
            p Please enter a new password:
            input#inputUsername(type="password", placeholder="username", name="username", , required="", autocomplete="off")
        div(id="resetPasswordConfirmed")
            p Please re-enter your new password:
            input#inputUsername(type="password", placeholder="username", name="username", , required="", autocomplete="off")	

