extends layout

block content
    div(id="title")
        h1= title
    form#formResetPassword(name="resetpassword",method="post",action="/forgotpassword/reset")
        div(id="newPassword")
            p Please enter your new password:
            input#inputUsername(type="password", placeholder="new password", name="password",required="", autocomplete="off")
            p Please re=enter your new password
            input#inputUsername(type="password", placeholder="re-enter new password", name="passwordC", required="", autocomplete="off")
            br
            br
            button#btnSubmit(type="submit") Submit
    div(id="signin")
    form#SignIn(name="sign in", method="get", action="/signin")
      button#btnSignIn(type="submit") Sign In
    div(id="register")
    form#Register(name="register", method="get", action="/register")
      button#btnRegister(type="submit") Register