extends layout

block content
    h1= title
    form#formRegisterUser(name="registeruser",method="post",action="/registerUser")
        input#inputUserName(type="text", placeholder="username", name="username")
        br
        input#inputUserPassword(type="text", placeholder="password", name="password")
        br
        button#btnSubmit(type="submit") submit