extends layout

block content
    h1= title
    form#formRegisterUser(name="signin",method="post",action="/signin")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserPassword(type="text", placeholder="password", name="password")
        button#btnSubmit(type="submit") submit