extends layout

block content
	h1.
		Welcome to your Homepage #{user.username}
	div
		form#accountSettings(name="accountSettings", method="get", action="/accountsettings")
			button#btnAccountSettings(type="submit") Accountsettings
		form#Profile(type="profile", method="get", action="/profile")
			button#btnProfile(type="submit") Public Profile
			