extends layoutLoggedIn

block script
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
    script.
        function makeList(){
            var comicString = "#{comicsList}"
            var comicsList = comicString.split(",")    
            for(i=0; i<comicsList.length;i++){
                $('<li><a href=' + comicsList[i] + '>' + comicsList[i] + '</a></li>').appendTo('ul.comicsList')
            }
        }   
 
block content   
    h1.
        Welcome to your Homepage #{viewer.username}
    
    br
    br        
    |Published comics
    ul(class="comicsList")
    
    