extends layoutLoggedIn 

block content
	h1.
		welcome to #{webcomic.title}
	div.
		Description: #{webcomic.description}
	div(id="images")
		img(id="images", src="http://#{webcomic.images}")
		script.
			for(i=0;i<images.length;i++)
				img(src="#{webcomic.images}")
	div
		form#formGoToEdit(name="editWebcomic",method="get", action="/webcomic/edit")
			button#btnEditComic(type="submit") Edit


