body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#banner {
	background-color: steelblue;
	width:100%;
    min-height:70px;
}
#logout{
	position: absolute;
	right: 10px;
	top: 20px;
	width: 100px;
}


#profile{
	position: absolute;
	right: 125px;
	top: 20px;
	width: 100px;
}

#profiledata
{
	position: absolute;
	right: 1000px;
	top: 140px;
}
#accountSettings{
	position: absolute;
	right: 65px;
	top: 20px;
	width: 120px;
}
#home{
	position: absolute;
	left:4%;
	top: 20px;
	width: 100px;
}

#createwebcomic
{
	position: absolute;
	left:10%;
	top: 40px;
	width: 200px;
}
#btnRegister{
    position: absolute;
    right: 100px;
    top: 40px;
    width: 100px;
}
#btnSignIn{
    position: absolute;
    right: 225px;
    top: 40px;
    width: 100px;
}
#profilePicture{
	position: absolute;
	left: 40px;
	top: 140px;
	width: 100px;
}

#aboutme
{
   	position: absolute;
	left: 80px;
	top: 350px;
	width: 100px;
}
#images{
    display: block;
    top:170px;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    max-height: 700px
}
#title{
	position: absolute;
	left:100px;
	top: 15px;
}
#signInSubmit{
    position: absolute;
    right: 100px;
    top: 40px;
    width: 100px;
}
#signInPassword{
	position: absolute;
    right: 210px;
    top: 40px;
}
#signInUsername{
	position: absolute;
    right: 350px;
    top: 40px;
}

#forgotPasswordLink
{
	position: absolute;
    right: 215px;
    top: 50px;
}

#formForgotPassword
{
	position: absolute;;
	left:100px;
}

#form{
	position: absolute;;
	left:100px;
}

#formResetPassword
{
	position: absolute;
    left: 100px;
    top: 80px;
}

#titleS{
	position: absolute;
	left:100px;
}
#belowform{
	position: absolute;
	left: 100px;
	top: 140px
}
#belowbelowform{
	position: absolute;
	left: 100px;
	top: 160px
}
#belowimage{
	position: absolute;
	left: 100px;
	top: 90%;
}