body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#banner {
	background-color: steelblue;
	width:100%;
    min-height:70px;
}
#logout{
	position: absolute;
	right: 10px;
	top: 20px;
	width: 100px;
}


#profile{
	position: absolute;
	right: 125px;
	top: 20px;
	width: 100px;
}

#profiledata
{
	position: absolute;
	left: 270px;
	top: 170px;
}
#accountSettings{
	position: absolute;
	right: 65px;
	top: 20px;
	width: 120px;
}
#home{
	position: absolute;
	left:4%;
	top: 20px;
	width: 100px;
}

#createwebcomic
{
	position: absolute;
	left:10%;
	top: 40px;
	width: 200px;
}
#btnRegister{
    position: absolute;
    right: 100px;
    top: 40px;
    width: 100px;
}
#btnSignIn{
    position: absolute;
    right: 225px;
    top: 40px;
    width: 100px;
}
#profilePicture{
	position: absolute;
	left: 40px;
	top: 147px;
	width: 100px;
}

#aboutme
{
   	position: absolute;
	left: 80px;
	top: 395px;
	width: 100px;
}

#aboutmeEdit
{
   	position: absolute;
	left: 80px;
	top: 411px;
	width: 100px;
}

#submitEditProfile
{
   	position: absolute;
	left: 400px;
	top: 500px;
	width: 150px;
}

#editProfilePicture
{
	position: absolute;
	left: 260px;
	top: 370px;
	width: 100px;
}

#lastLogin
{
	position: absolute;
	left: 80px;
	top: 345px;
	width: 300px;
	font-weight: bold;
}

#editProfilePictureMessage
{
	position: absolute;
	left: 80px;
	top: 355px;
	width: 300px;
	font-weight: bold;
}


#cancelEditProfile
{
	position: absolute;
	left: 410px;
	top: 133px;
	width: 100px;
}

#editProfile
{
	position: absolute;
	left: 410px;
	top: 133px;
	width: 100px;
}

#images{
    display: block;
    top:170px;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    max-height: 700px
}
#contributorComics{
	display:block;
	position: absolute;
	top: 140px;
	left: 520px;
}
#title{
	position: absolute;
	left:100px;
	top: 15px;
}
#signInSubmit{
    position: absolute;
    right: 100px;
    top: 40px;
    width: 100px;
}
#signInPassword{
	position: absolute;
    right: 210px;
    top: 40px;
}
#signInUsername{
	position: absolute;
    right: 350px;
    top: 40px;
}

#forgotPasswordLink
{
	position: absolute;
    right: 215px;
    top: 50px;
}

#formForgotPassword
{
	position: absolute;;
	left:100px;
}

#form{
	position: absolute;;
	left:100px;
}

#formResetPassword
{
	position: absolute;
    left: 100px;
    top: 80px;
}

#titleS{
	position: absolute;
	left:100px;
}
#belowform{
	position: absolute;
	left: 100px;
	top: 140px
}
#belowbelowform{
	position: absolute;
	left: 100px;
	top: 160px
}
#deleteWebcomic{
	position:absolute;
	left: 140px;
	top:90%;
}
#belowimage{
	position: absolute;
	left: 100px;
	top: 90%;
}
#belowbelowimage{
	position: absolute;
	left: 100px;
	top: 95%;
}
.newCellDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 200ms ease-in-out;
	-moz-transition: opacity 200ms ease-in-out;
	transition: opacity 200ms ease-in-out;
	pointer-events: none;
}
.newCellDialog:target {
	opacity:1;
	pointer-events: auto;
}

.newCellDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, steelblue);
	background: -webkit-linear-gradient(#fff, steelblue);
	background: -o-linear-gradient(#fff, steelblue);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: steelblue; }

.AddCell {
	background: #FF0000;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 25px;
	position: fixed;
	right: 100px;
	text-align: center;
	bottom: 100px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 30px;
	-moz-box-shadow: 1px 1px 1px #000;
	-webkit-box-shadow: 1px 1px 1px #000;
	box-shadow: 1px 1px 1px #000;
	padding: 5px 9px 11px 9px;
	
}
.AddCell:hover { 
	background: steelblue;
	-moz-box-shadow: 2px 2px 2px #000;
	-webkit-box-shadow: 2px 2px 2px #000;
	box-shadow: 2px 2px 2px #000;
}