extends layoutLoggedIn

block content
	div(id="columnOne")
		h1.
			#{user.username}
		form#formEditProfile(name="profile",method="post",action="/profile/edit", enctype='multipart/form-data')
			div(class="profilePicture")
				img(src="#{user.profilePicture}")
			|Upload a new profile picture 
			br
			input#image(type="file",name="image")
			div(id="aboutmeEdit") 
				|About
				br
				textarea#aboutMe(type="text", name="aboutMe")
					|#{user.aboutMe}
			div(id="submitEditProfile")
				button#btnUpdateProfile(type="submit") Save Changes
			div(id="cancelEditProfile")
				form#cancelEdit(type="cancelEdit", method="get", action="/profile")
					button#btnCancelUpdateProfile(type="submit") Cancel Edit