extends layout

block content
    div(class="login-message-field")
        div(id="title")
            h1= title
    div(id="header")
        h1= alert        
    form#formForgotPassword(name="recoveraccount",method="post",action="/forgotpassword")
        div(id="forgotPasswordUsername")
            p Please enter your username:
            input#inputUsername(type="text", placeholder="username", name="username", , required="", autocomplete="off")
            br
            br
            button#btnSubmit(type="submit") Recover Account