extends layout

block banner

	div(id="index-banner-btns")
		div(class="signin-container")
			a(href="/signin") 
				|Sign In
		div(class="register-container")
			a(href="/register")
				|Register
		div(class="forgot-Password-container")
			a(href="/forgotpassword") 
				|Forgot password?				
	
	
