doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/MataStyle.css')
	body
		div(id="o-wrapper", class="o-wrapper")
			div(id="banner")
				div(class="home-button")
					a(href="/")
						img(src="/assets/mataLogo.png") 	
				div(id="index-banner-btns")
					div(class="signin-container")
						a(href="/signin") 
							|Sign In
					div(class="register-container")
						a(href="/register")
							|Register
					div(class="forgot-Password-container")
						a(href="/forgotpassword") 
							|Forgot password?
				block banner
			div(id="content")		
				block content
