doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/MataStyle.css')
		
	body
		div(id="o-wrapper", class="o-wrapper")
			div(id="banner")
				div(class="home-button")
					a(href="/home")
						img(src="/assets/mataLogo.png") 
				div(class="c-buttons")
					div(class="newComicBtn")
						a(href="/webcomic/create")
							img(src="/assets/new.svg")
					button(id="c-button--push-right", class="c-button")
						img(src="/assets/menu_icon.svg")
					div(id="action-buttons")
						button(id="c-button--slide-bottom", class="c-button-chat")
							img(src="/assets/chat.svg")
				div(class="search-container")
					Form#searchForm(class="search-form", method="get", action="/SearchBrowseResults", enctype='multipart/form-data')
						input(autocomplete="off", type="text", class="search-field", name="seachField", placeholder="Search" value="")
						select(class="search-selector", name="searchType")
							option(value="genre", selected) Genre
							option(value="title") Title
							option(value="author") Author
							option(value="description") Description
							option(value="all") Search By
			div(id="content")
				block content
		
		nav(id="c-menu--push-right" class="c-menu c-menu--push-right")
			button(class="c-menu__close") Menu
			ul( class="c-menu__items")
				li( class="c-menu__item")
					a( href="/home" class="c-menu__link") Home
				li( class="c-menu__item")
					a( href="/webcomic/random" class="c-menu__link") Random Comic	
				li( class="c-menu__item")
					a( href="/browse" class="c-menu__link") Browse	
				li( class="c-menu__item")
					a( href="/profile" class="c-menu__link") Profile
				li( class="c-menu__item")
					a( href="/accountsettings" class="c-menu__link") Account Settings
				li( class="c-menu__item")
					a( href="/logout" class="c-menu__link") Logout
					
		nav(id="c-chat--slide-bottom" class="c-chat c-chat--slide-bottom")
			button(class="c-chat__close") Chat
			div(id="scrollList", class="scrollList")
				ul( id= "chatList", class="c-chat__items")
					li( class="c-chat__item")
			form#formChat( name="chat", method="",action="", class="chat-message-box")
				input#inputChatMessage(type="text", name="chatMessage", placeholder="Message", class="chat-message-text")
					
		div( id="c-mask" class="c-mask")
		div( id="c-mask2" class="c-mask2")			
		script(src="/scripts/menu.js")
		script(src="/scripts/chat.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
		script.
			
			//This script get the new chat objects from the server
			function updateChat(){
				$.get("/chatAlternate", $(this).serialize(), function(messages){
						$("#chatList").empty();
						for(var i = 0; i < messages.length; i++){
							$('<li />', {html: messages[i].userName + ": " + messages[i].message}).appendTo('ul.c-chat__items')
							$("#scrollList").scrollTop($("#scrollList")[0].scrollHeight);	
						}
				},'json');
			}
			//start polling for new chats
			window.onload = pollingLoop();
			var newMessage = new Audio('/assets/XboxNotification.mp3');
			newMessage.loop = false;
			
			//Poll for new chats every 1 second. if there are new chats update chat history and wait 5 seconds
			function pollingLoop(){
				$.get("/chatAlternate/areNewChats", $(this).serialize(), function(answer){
					if(answer){
						updateChat();
						newMessage.play();
						setTimeout(pollingLoop, 10000);
					}else{
						setTimeout(pollingLoop, 1000);
					}
				});
				
			}
			
			
			//This script interupts the usual refresh when a new chat message is submitted and instead 
			//sends a post request to the chat router with the new chat message. then it clears the input field
			//and updates the chat window
			$('#formChat').on('submit', function(e) {
				e.preventDefault();
				$.post("/chatAlternate", $(this).serialize(), function(data){
					$("#inputChatMessage").val("");
				},'json');
				updateChat();
			});
			
			//This script creates a new menu object of type push-right
			var pushRight = new Menu({
				wrapper: '#o-wrapper',
				type: 'push-right',
				menuOpenerClass: '.c-button',
				maskId: '#c-mask'
			});
			
			//this script assigns an event listener to the menu button so that the menu is opened when clicked
			var pushRightBtn = document.querySelector('#c-button--push-right');
			pushRightBtn.addEventListener('click', function(e) {
				e.preventDefault;
				pushRight.open();
			});
			
			//this script creates a new chat window object
			var slidebottom = new Chat({
				wrapper: '#o-wrapper',
				type: 'slide-bottom',
				menuOpenerClass: '.c-button',
				maskId: '#c-mask'
			});
			
			//this script adds an event listener to the chat button so the chat window opens when clicked
			var slideBottomBtn = document.querySelector('#c-button--slide-bottom');
			slideBottomBtn.addEventListener('click', function(e) {
				e.preventDefault;
				slidebottom.open();
				updateChat();
			});
