doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/MataStyle.css')
	body
		div(id="banner")
				div(class="home-button")
					a(href="/")
						img(src="/assets/mataLogo.png") 				
		block content
