extends layout

block content
	div(class="login-message-field")
		div(id="title")
			h1= title
	div(id="header")
		h1=alert		
	form#formResetPassword(name="resetpassword",method="post",action="/forgotpassword/reset")
		div(id="newPassword")
			p Please enter your new password:
			input#inputUsername(type="password", placeholder="new password", name="password",required="", autocomplete="off")
			p Please re=enter your new password
			input#inputUsername(type="password", placeholder="re-enter new password", name="passwordC", required="", autocomplete="off")
			br
			br
			button#btnSubmit(type="submit") Submit