extends layout

block content
	div(class="login-message-field")
		div(id="header")
			h1= title
	div(id="header")
		h1= alert
	form#formRegisterUser(name="signin",method="post",action="/signin")
		div(id="signInUsername")
			input#inputUsername(type="text", placeholder="username", name="username", , required="", autocomplete="off")
		div(id="signInPassword")
			input#inputUserPassword(type="password", placeholder="password", name="password", required="", autocomplete="off")
		div(id="signInSubmit")
			button#btnSubmit(type="submit") Submit
		div(id="forgotPasswordLink")
			p: #[a(href="/forgotpassword") Forgot password?]